<title>@ViewBag.FullName  最新最全手机靓号！</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<script src="~/Content/scripts/jquery/jquery-1.11.2.min.js"></script>
<!--bootstrap组件start-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--bootstrap组件end-->
<link href="/Content/Styles/stylelist.css" rel="stylesheet" type="text/css" />

<script src="~/Content/Scripts/utils/hzsoft-ui.js" type="text/javascript"></script>
<link href="~/Content/layer2/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Content/layer2/layer.js" type="text/javascript"></script>
<link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>

<style>
    #main_ad > .carousel-inner > .item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

        #main_ad > .carousel-inner > .item > img {
            width: 100%;
        }

    .lhmain {
        width: 100%;
        padding: 15px 10px;
        text-align: center;
        overflow: hidden;
    }

    .lhrow {
        margin: 10px auto;
        height: 60px;
        width: 100%;
        left: 100px;
        overflow: hidden;
    }

    .lhcell {
        width: 33%;
        height: 60px;
        text-align: center;
        float: left;
        overflow: hidden;
    }

    .lhcellbottom {
        text-align: center;
        padding: 15px 10px;
        border: 1px solid #fff;
        border-radius: 20px;
    }

        .lhcellbottom p {
            font-size: 14px;
            color: #fff;
            font-weight: bold;
        }

    .bottomNav {
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        display: block;
        float: left;
    }

        .bottomNav p {
            color: #fff;
            height: 30px;
            line-height: 20px;
            padding: 5px;
        }
</style>
<script type="text/javascript">
    var organizeId = request('organizeId');
    var city = request('city');

    $(function () {
        if (city != "" ) {
            $(".input-group-addon a").html('@ViewBag.city');
        }
        else {
            $(".input-group-addon a").html('全国');
        }

        function resize() {
            //获取屏幕宽度
            var windowWidth = $(window).width();
            //判断屏幕的大小
            var isSmallScreen = windowWidth < 768;
            //根据大小为界面上的每一张轮播图设置背景
            $('#main_ad > .carousel-inner > .item').each(function (i, item) {
                //因为获取的是dom对象，要把DOM对象转换成jquery对象
                var $item = $(item);
                //根据屏幕的大小来获取不同的图片 data()函数就是专门获取data属性的
                var imgSrc =
                    isSmallScreen ? $item.data('image-xs') : $item.data('image-lg');
                //获得data属性后，给div设置背景图片
                $item.css('backgroundImage', 'url("' + imgSrc + '")');
                // 针对移动端，尺寸需要等比例变化，所以小屏幕使用img方式 ，在div中添加img标签
                if (isSmallScreen) {
                    $item.html('<img src="' + imgSrc + '" alt="小图"/>')
                } else {
                    // 当屏幕由小到大切换时，清空div中的img标签
                    $item.empty();
                }
            });
        }

        $(window).on('resize', resize).trigger('resize');


        var cache = {};
        $("#telphone").autocomplete({
            source: function (request, response) {
                var term = request.term;

                if (term in cache) {
                    response(cache[term]);
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/WeChatManage/LiangMenu2/TelAuto",
                    data: { telphone: request.term, organizeId: organizeId, city: city, rnd: Math.random() },
                    success: function (data) {
                        var ary = [];
                        if (data != "") {
                            // 解析为js对象
                            var result = JSON.parse(data);
                            for (var i = 0; i < result.length; i++) {
                                ary[i] = new Array();
                                ary[i].label = result[i].Telphone + result[i].City;
                                ary[i].id = result[i].Telphone;
                            }
                        }
                        response(ary);
                    },
                    error: function () {
                        layer.alert('错误', {
                            skin: 'layui-layer-molv', closeBtn: 0
                        });
                    }
                });

            },
            minLength: 1,
            /*
             * 选中后的处理
             * select: function(event, ui) {
                var url = ui.item.id;
                if(url != '#') {
                    location.href = '/blog/' + url;
                }
            },*/
            select: function (event, ui) {
                var id = ui.item.id;
                if (id != '') {
                    $("#telphone").val(id);
                    f_search();
                }
            },
            html: true, // optional (jquery.ui.autocomplete.html.js required)
            // optional (if other layers overlap autocomplete list)
            open: function (event, ui) {
                $(".ui-autocomplete").css("z-index", 1000).css("line-height", "25px").css("width", "70%");
            }
        });
    });

    function f_search() {
        var telphone = $("#telphone").val();
        $.ajax({
            url: "/WeChatManage/LiangMenu2/SearchTel",
            type: "POST",
            data: { telphone: telphone, organizeId: organizeId, city: city, rnd: Math.random() },
            success: function (data) {
                var dataresult = JSON.parse(data);
                var result = dataresult.entity;
                if (result == null) {
                    layer.alert('无此号码', {
                        skin: 'layui-layer-molv', closeBtn: 0
                    });
                }
                else {
                    if (dataresult.state == 1) {
                        //询问框
                        layer.confirm('存在此号码：' + telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【售价】：' + result.Price + '<br/>【成本】：' + result.MinPrice + '<br/>【利润】：' + result.ChaPrice + '<br/>【套餐】：' + result.Package + '<br/>是否继续编辑此号码？', {
                            btn: ['是', '否'] //按钮
                        }, function () {
                            window.location = "/WeChatManage/LiangMenu2/SearchForm?keyValue=" + result.TelphoneID + "&organizeId=" + organizeId;
                        });
                    }
                    else if (dataresult.state == 2) {
                        //可看低价不可编辑下架
                        layer.alert('存在此号码：' + telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【售价】：' + result.Price + '<br/>【成本】：' + result.MinPrice + '<br/>【利润】：' + result.ChaPrice + '<br/>【套餐】：' + result.Package, {
                                skin: 'layui-layer-molv'
                          , closeBtn: 0
                            });
                    }
                    else {
                        //提示框
                        layer.alert('存在此号码：' + telphone + '(' + result.Description + ')' + '<br/>【归属地】：' + result.City + result.Operator +
                            '<br/>【价格】：' + result.Price  + '<br/>【套餐】：' + result.Package, {
                            skin: 'layui-layer-molv'
                          , closeBtn: 0
                        });
                    }
                }

            },
            error: function () {

            }
        });
    }
</script>
@{Html.RenderAction("_PartialShare", "Liang", new { title = @ViewBag.FullName + "  最新最全手机靓号！", Img = "liang4.jpg" });}
<div class="container" style="margin-bottom: 5px;">
    <div id="filter-form">
        <div class="input-group">
            <span class="input-group-addon"><a style="font-weight: bold;color: #000;">全国</a></span>
            <input id="telphone" type="text" class="form-control" placeholder="请输入你喜欢的数字">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" onclick="f_search()">立即查询</button>
            </span>
        </div>
    </div>
</div>
<!--广告轮播-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@ViewBag.Img1" alt="...">
        </div>
        <div class="item">
            <img src="@ViewBag.Img2" alt="...">
        </div>
        <div class="item">
            <img src="@ViewBag.Img3" alt="...">
        </div>
        <div class="item">
            <img src="@ViewBag.Img4" alt="...">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="lhmain">
    <div class="lhrow">
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu0?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#D24D57">
                    <p>超级精品</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu1?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#26A65B">
                    <p>6A-5A</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu2?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#EB7347">
                    <p>3A</p>
                </div>
            </a>
        </div>
    </div>
    <div class="lhrow">
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu3?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#B45B3E">
                    <p>3A(0-5)</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu4?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#479AC7">
                    <p>3A(6-9)</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu5?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#FC9D99">
                    <p>6顺-4顺</p>
                </div>
            </a>
        </div>
    </div>
    <div class="lhrow">
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu7?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#CD1076">
                    <p>四(五六)拖一</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu8?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#336699">
                    <p>个性号</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu9?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#84AF9B">
                    <p>AABBCC(DD)</p>
                </div>
            </a>
        </div>
    </div>
    <div class="lhrow">
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu9?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#D24D57">
                    <p>全国区号专区</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu10?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#EB7347">
                    <p>打包专区</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu11?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#B45B3E">
                    <p>ABC</p>
                </div>
            </a>
        </div>
    </div>
    <div class="lhrow">
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu/Menu12?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#84AF9B">
                    <p>其它靓号</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/PuMenu/Menu12?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#FC9D99">
                    <p>流量卡</p>
                </div>
            </a>
        </div>
        <div class="lhcell">
            <a href="~/WeChatManage/LiangMenu2/Menu11?organizeId=@ViewBag.organizeId&city=@ViewBag.city">
                <div class="lhcellbottom" style="background-color:#00CCFF">
                    <p>加入我们</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div style="height:50px;"></div>
<div style="position: fixed;bottom:0;width: 100%;height:50px;">
    <a href="tel:@ViewBag.Tel" style="background-color:#126DCA;" class="bottomNav">
        <p>一键拨号<br />@ViewBag.Tel</p>
    </a>
    <a href="javascript:;" style="background-color:#78BA32;color:#fff;" class="bottomNav" onclick="document.getElementById('mcover').style.display = 'block';">
        <p>添加VX<br />@ViewBag.InnerPhone</p>
    </a>
</div>
<div id="mcover" onClick="document.getElementById('mcover').style.display='';" style=""><img src="@ViewBag.Nature"></div>
<style>
    #mcover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        z-index: 20000;
    }

        #mcover img {
            position: fixed;
            right: calc(50vw - 129px);
            top: calc(50vh - 129px);
            width: 258px;
            height: 258px;
            z-index: 20001;
        }
</style>