@model  HZSoft.Application.Entity.BaseManage.Wechat_AgentEntity
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>代理中心-全国靓号</title>
    <meta name="Keywords" content="全国靓号">
    <meta name="Description" content="全国靓号">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/static/agent/wap/images/favicon.ico">
    <link rel="stylesheet" href="/static/agent/wap/styles/base.css?v=05">
    <link rel="stylesheet" href="/static/agent/wap/styles/customer.css?v=098">
</head>
<body class="auto_width">
    <article class="container main_customer_index">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <div id="app" class="main">
            <section class="summary">
                <div class="info_wrap">
                    <img src="@Model.HeadimgUrl" alt="头像" class="avatar">
                    <h3 class="name no_wrap agent_name">@Model.nickname</h3>
                    <div class="handler flex">
                        <p class="level i_icon level_name">
                            @Model.Category 级代理
                        </p>
                        @*<div class="btn_wrap">
                            <a href="/webapp/agent/upgrade?id=@Model.Id">立即升级</a>
                        </div>*@
                    </div>
                </div>
                <div class="total_money">
                    <h3>我的佣金总额</h3>
                    <p class="price_wrap">
                        <small>￥</small><strong id="ba-eye" data-type="password" class="balance ba-eye">***</strong>
                        提现中:
                                        <small class="ba-eye locked-balance">***</small><i onclick="showhide()" id="eye" class="fa fa-eye"></i>
                    </p>
                    <p>
                        <small>*此金额包括:已支付未入账/已入账/邀请代理 佣金</small>
                    </p>
                    <p>
                    </p>
                    <a href="/webapp/agent/withdrawal?id=@Model.Id">提现</a>
                </div>
            </section>
            <section class="team_info">
                <h3 class="i_icon"><strong>概况</strong></h3>
                <div class="list flex comissionSummary">
                    <div class="team_item">
                        <h4 class="level_name i_icon"><label>1</label><strong>下级代理</strong></h4>
                        <strong style="margin: 20px;font-size: 20px;">@Model.childcount</strong><span>人</span>
                    </div>
                    <div class="team_item">
                        <h4 class="level_name i_icon"><label>2</label><strong>浏览量</strong></h4>
                        <strong style="margin: 20px;font-size: 20px;">@Model.SeeCount</strong><span>次</span>
                    </div>
                    <div class="team_item">
                        <h4 class="level_name i_icon"><label>3</label><strong>销售额</strong></h4>
                        <strong style="margin: 20px;font-size: 20px;">@Model.SellCount</strong><span>元</span>
                    </div>
                </div>
            </section>
            <section class="link_list">
                @if (Model.Category < 4)
    {
            <p>
                <a href="/webapp/agent/invitation?id=@Model.Id" class="i_icon invitation_link">邀请代理</a>
            </p>
}
                @if (Model.Category == 2)
   {
            <p>
                <a href="/webapp/agent/fudong?id=@Model.Id" class="i_icon commission_link">售价调整</a>
            </p>
}

            <p>
                <a href="/webapp/agent/commission?id=@Model.Id" class="i_icon commission_link">佣金明细</a>
            </p>
            <p>
                <a href="/webapp/agent/withdrawLogs?id=@Model.Id" class="i_icon withdrawal_link">提现记录</a>
            </p>
            <p>
                <a href="/webapp/agent/profile?id=@Model.Id" class="i_icon agent_link">个人资料</a>
            </p>
            <p>
                <a href="/webapp/agentshop/index?id=@Model.Id" class="i_icon agent_link">我的商城</a>
            </p>
            </section>
        </div>
    </article>
    <script></script>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="/static/agent/wap/scripts/app/customerMixins.js?v=072"></script>
    <script src="/static/agent/wap/scripts/common/base.js?v=062"></script>
    <script src="/static/agent/wap/scripts/app/api.js?v=062"></script>
    <script>
        function req(uri, data = {}, method = '0', url = "/webapp/agentApi/") {
            data._token = "tTWNZ12GNTDFb761D4z3J52mPA8OM2Xv8Rn6Xz6l";
            let res = new Promise(function (resolve, reject) {
                $.ajax({
                    url: url + uri,
                    type: method == 0 ? 'post' : 'get',
                    data: data,
                    success: function (res) {
                        resolve(res);
                    },
                    error: function (error) {
                        reject(error);
                    }
                })
            });
            return res;
        };
        function cl(str) {
            console.log(str);
        }</script>
    <script>
        var aid = "@Model.Id";
        $('document').ready(function () {
            //个人资料
            // req('agentInfo').then(function (res){
            //
            //     if(res.code != 200)
            //     {
            //         return false;
            //     }
            //
            //     let data = res.data;
            //     $('.avatar').attr('src' ,data.avatar);
            //     $('.agent_name').text(data.name);
            //     $('.level_name').text(data.level_name);
            //     $('.balance').text(data.balance)
            // });
        });</script>
    <script src="/static/agent/wap/scripts/app/customer/index.js?v=09"></script>
    <script>
        $('.comissionSummary').click(function () {
            location.href = '/webapp/agent/comissionSummary?id=@Model.Id';
        });
        var eye = document.getElementById("eye");
        var pwd = document.getElementById("ba-eye");
        function showhide() {
            let balance = '@Model.profit';
            let locked_balance = '@Model.Cashout';
            let tp = $('.balance').attr('data-type');
            if (tp == "password") {
                $('.balance').text(balance);
                $('.locked-balance').text(locked_balance);
                $('.balance').attr('data-type', 'number')
                eye.className = 'fa fa-eye-slash'
            } else {
                $('.balance').text('***');
                $('.locked-balance').text('***');
                $('.balance').attr('data-type', 'password')
                eye.className = 'fa fa-eye'
            }
        }</script>
</body>
</html>